.okebanget .callout {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}
.okebanget .callout {
    background-color: #e87722;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -95px;
    padding: 7px 10px;
    position: relative;
    width: 200px;
    z-index: 4;
    text-transform: uppercase;
}
.callout:before {
    border-top: 7px solid #e87722;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}
